.allUsersContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.allUsersContainerRow {
    display:flex;
    flex-direction: row;
    width: 100%;
}

.allUsersContainerRowElement {
    width: 20%;
    text-align: center;
    align-self: center;
}

.membersBody {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.membersBodyButtonsContainer {
    margin-bottom:  2%;
    display: flex;
    
}

.profilePage {
    display: flex; 
    margin: 10px;
    flex-direction: row;
}

.profilePageColumn {
    flex: flex;
    flex-direction: column;
    width: 33%;
    height: 90vh
}

.profilePageColumnContainer {
    height: 46%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 2%;
    align-items: top;
}

.profilePageTitle {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: xx-large;
}

.profilePageContainerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 10%;
}

.profilePageBasicInfoContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.profilePageInfoContainerRow {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 2.5%;
    height: 10%
}

.profilePageContainerRowText {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePageContainerRowTextfield {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePageBasicInfoSubmit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
