.body {
    height: 100%;
    overflow-y: scroll;
    display: grid;
    margin: 0 2%;
    grid-template-columns: 300px auto;
    background-color: #f2f2f2;
}
.left{
    height: 100%;
    border-right: 4px solid #fff;
}
.listText span{
    font-size: 18px;
    color: #333;
}
.collapsedPlayerIconRow {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    width: 100%
}

.collapsedPlayerIcon {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 1%;
}

.root {
    border-bottom: 'unset';
    width: 100%;
}
.right{
    padding: 20px 200px;
}
.rightGrid{
    display: grid;
    grid-template-columns: repeat(4,25%);
    place-items:center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.rightGridTitle{
    background-color: #43768C;
    color: #fff;
    padding: 40px 0;
    border-right: 2px solid #fff;
}

.rightGridItem {
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    background-color: #fff;
}
.rightName {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.edit{
    margin: 0 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100vh - 300px);
    overflow: hidden;
}
.edit>div:nth-child(2){

}
.edit>div:nth-child(2)>div{
    width: auto;
}
.rightGridEdit{
    border-left: 2px solid #ddd;
}
.rightEdit{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: 400px;
    grid-column-gap: 20px;
    overflow: auto;
    padding-bottom: 40px;
}
.saveButton{
    background-color: #43768C;
    color: #fff;
}
.ButtonTeam{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.teamName{
    display: flex;
    align-items:center;
    padding: 20px 2%;
}
.teamName>.MuiTextField-root{
    width: 30%;
}
.editRight{
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,48%);
    margin-left: 50px;
    grid-template-rows: max-content;
}
