.body {
    
    color: black;
    padding: 10px;
    font-family: Arial;
    align-items: center;
    height: 10vh;
    display:flex;
}

.logotext {
  align-items: center;
  justify-content: left;
  display:flex;
  width: 30%;
  height: 100%;
}

.mcclogo {
  height: 120%;
}

.linktabs {
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 50%;
}

.linkbuttons {
  width:25%;
  text-align: center;
  border-right: 10px;
  border-color: black;
}

.logout {
  width: 20%;
  display: flex;
  justify-content: center;
}