.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 0%;
}

.playerDetailsColumn{
    height: 97%;
    width: 23%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 1%
}

.playerDetailsEditContainer {
    width: 100%;
    height: 90%
}

.playerDetailsDeleteContainer {
    width: 100%;
    height: 10%
}

.playerDetailsImage {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}

.playerDetailsUpdateImage {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    height: 10%;
}

.playerDetailsUpdateImageButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.playerDetailsName {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 2.5%;
    font-size: larger;
    height: 7.5%;
}

.playerDetailsFields {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60%;
}

.performanceColumn{
    height: 97%;
    width: 73%;
    display: flex;
    flex-direction: column;
    margin: 1%
}

.performanceGraphContainer {
    height: 55%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.performanceRecordsContainer {
    height: 45%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chartControlContainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chartContainer {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.chart {
    max-height: 100%;
    max-width: 100%;
}