.toolbar {
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 0%;
    background-color: #43768C;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    /* border-radius: 25px; */
}

.newUserContainer {
    width: 50%;
    padding: 1%;
    align-items: center;
    display: flex;
}

.searchBarContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input div{
    background-color: #fff;
    border-radius: 0;
    border: none;
}
.searchBar {
    width: 80%
}

.filter {
    display: flex;
    justify-content: center;
    width: 20%
}

.filterDialogContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
}

.fullDialogContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
}

.filterFormControl {
    width: 50%;
}

.availabilityFormControl {
    width: 100%
}

.favPositionFormControl {
    width: 100%
}

.preferenceFormControl {
    width: 100%
}

.newTeamContainer {
    width: 70%;
    padding-left: 2%;
    align-items: center;
    display: flex;
}
.newTeam{
    color: #fff !important;
    width: 60px;
}
.button{
    color: #fff !important;
    font-size: 20px !important;
}
