.toolbar {
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: lightblue;
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.newUserContainer {
    width: 50%;
    align-items: center;
    display: flex;
}

.searchBarContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar {
    width: 80%
}

.filter {
    display: flex;
    justify-content: center;
    width: 20%
}